<%- include ('header') %>

	<% if (typeof message != "undefined") { %> <script>alert('<%= message; %>');</script> <% } %>

    <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<!-- <div class="step-one">
				<h2 class="heading">Step 1</h2>
			</div> -->
			
			<form action="/payment" method="POST">

				<div class="shopper-informations">
					<div class="row">
						<div class="col-sm-8 clearfix">
							<div class="bill-to">
								<p>Bill To</p>
								<div class="form-one">
									<input type="text" name="email" placeholder="Email *" value="<%= user_details.email %>" required>
									<input type="text" name="firstname" placeholder="First Name *" value="<%= user_details.firstname %>" required>
									<input type="text" name="lastname" placeholder="Last Name *" value="<%= user_details.lastname %>" required>
									<input type="text" name="address1" placeholder="Address 1 *" value="<%= user_details.address1 %>" required>
									<input type="text" name="address2" placeholder="Address 2" value="<%= user_details.address2 %>">
								</div>
								
								<div class="form-two">
									<input type="text" name="zip" placeholder="Zip / Postal Code *" value="<%= user_details.zip %>" required>
									<select name="country" required>
										<option value="">-- Country --</option>
										<%
										var country_options = [ "Sri Lanka", "India", "UK", "Pakistan", "Ucrane", "Canada", "Dubai" ];
										for ( var i = 0; i < country_options.length; i++ )
										{
											var selected = ( user_details.country == country_options[i] ) ? "selected" : "";
											%><option value="<%=country_options[i] %>" <%=selected %>><%=country_options[i] %></option><%
										}
										%>
									</select>
									<select name="province" required>
										<option value="">-- State / Province / Region --</option>
										<%
										var province_options = [ "Jaffna", "Colombo", "Galle", "Pakistan", "Ucrane", "Canada", "Dubai" ];
										for ( var i = 0; i < province_options.length; i++ )
										{
											var selected = ( user_details.province == province_options[i] ) ? "selected" : "";
											%><option value="<%=province_options[i] %>" <%=selected %>><%=province_options[i] %></option><%
										}
										%>
									</select>
									<input type="text" name="phone" placeholder="Phone *" value="<%=user_details.phone %>" required>
									<input type="text" name="mobile" placeholder="Mobile Phone">
									<select id="delivery_method" name="delivery_method" required>
										<option value="">-- Delivery Method --</option>
										<option value="store_pickup">Store Pickup</option>
										<option value="delivery">Delivery</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-4 clearfix">
							<div class="bill-to">
								<p>Payment</p>
								<div class="form-two" style="margin-left: 0; width: 100%;">
									<select id="payment_method" name="payment_method" required>
										<option value="">-- Payment Method --</option>
										<option value="cash_on_delivery">Cash On Delivery</option>
										<option value="card">Card Payment</option>
									</select>
								</div>
								<div id="payment_form_body" class="form-two" style="margin-left:0; float: none; width: 100%;">

								</div>
							</div>	
						</div>
					</div>
				</div>

				<div class="review-payment">
					<h2>Review & Payment</h2>
				</div>

				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image">Item</td>
								<td class="description"></td>
								<td class="price">Price</td>
								<td class="quantity">Quantity</td>
								<td class="total">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% for (var i = 0; i < cart.length; i++) { %>
							<tr>
								<td class="cart_product">
									<a href=""><img src="<%= cart[i]['product_variant_image'] %>" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href=""><%= cart[i]['product_name'] %></a></h4>
									<p>Web ID: <%= cart[i]['sku'] %></p>
								</td>
								<td class="cart_price">
									<p class="currency-lkr unit_price" price="<%= cart[i]['unit_price'] %>"><%= cart[i]['unit_price'] %></p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<a class="cart_quantity_change cart_quantity_up" sku="<%= cart[i]['sku'] %>" style="cursor: pointer; user-select: none;"> + </a>
										<input class="cart_quantity_input" sku="<%= cart[i]['sku'] %>" type="text" name="quantity" value="<%= cart[i]['quantity'] %>" autocomplete="off" size="2" style="background-color: white;" disabled>
										<a class="cart_quantity_change cart_quantity_down" sku="<%= cart[i]['sku'] %>" style="cursor: pointer; user-select: none;"> - </a>
									</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price currency-lkr" price="<%= cart[i]['total_price'] %>" sku="<%= cart[i]['sku'] %>"><%= cart[i]['total_price'] %></p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" sku="<%= cart[i]['sku'] %>" style="cursor: pointer; user-select: none;"><i class="fa fa-times"></i></a>
								</td>
							</tr>
							<% } %>

							<tr>
								<td colspan="4">&nbsp;</td>
								<td colspan="2">
									<table class="table table-condensed total-result">
										<tr>
											<td>Cart Sub Total</td>
											<td class="cart_sub_total currency-lkr" style="float: right;">0</td>
										</tr>
										<tr>
											<td>Exo Tax</td>
											<td class="eco_tax currency-lkr" style="float: right;">0</td>
										</tr>
										<tr class="shipping-cost">
											<td>Shipping Cost</td>
											<td style="float: right;">Free</td>										
										</tr>
										<tr>
											<td>Total</td>
											<td style="float: right;"><span class="total_amount currency-lkr">0</span></td>
										</tr>
										<tr>
											<td style="text-align: center;" colspan="2">
												<button class="btn btn-default check_out" type="submit">Confirm & Pay</button>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>

			</form>			

		</div>
	</section> <!--/#cart_items-->
	
    
<%- include ('footer') %>

<script>
	
	var years = '';
	var cur_date = new Date;
	for (var y=cur_date.getFullYear(); y<cur_date.getFullYear()+5; y++ ){
		years += '<option>'+y.toString()+'</option>';
	}
		
	var payment_form_body = 
	'<input type="text" pattern="[a-zA-Z]{1,}" name="card_owner" placeholder="Owner *" required>'+
	'<input type="text" maxlength="16" pattern="[0-9]{16}" name="card_number" placeholder="Card Number *" required>'+
	'<input type="text" maxlength="3" pattern="[0-9]{3}" name="card_ccv" placeholder="CCV *" required>'+
	'<label style="font-weight: normal; margin: 5px 0px 10px;">Expiry Date: *</label>'+
	'<div class="form-row">'+
		'<select class="col-sm-6" style="padding: 10px; margin-bottom: 10px; margin-right:10px" required>'+
			'<option>January</option>'+
			'<option>February</option>'+
			'<option>March</option>'+
			'<option>April</option>'+
			'<option>May</option>'+
			'<option>June</option>'+
			'<option>July</option>'+
			'<option>August</option>'+
			'<option>September</option>'+
			'<option>October</option>'+
			'<option>November</option>'+
			'<option>December</option>'+
		'</select>'+
		'<select class="col-sm-5" style="padding: 10px; margin-bottom: 10px; float: right;" required>' + years + '</select>'+
	'</div>';

	$('#payment_method').change(function() {
		if ($(this).val() == 'card') {
			$('#payment_form_body').html(payment_form_body);
		}
		else {
			$('#payment_form_body').html('');
		}
	});

	$('.cart_quantity_change').click(function() {
		var sku = $(this).attr('sku');
		var quantity = 0;
		var activity = '';
		
		if ($(this).hasClass('cart_quantity_up')) {
			quantity = parseInt($('.cart_quantity_input[sku="'+sku+'"').val()) + 1;
			activity = 'increase';
		}
		else {
			quantity = parseInt($('.cart_quantity_input[sku="'+sku+'"').val()) - 1;
			activity = 'reduce';
		}

		var unit_price = $(this).parent().parent().parent().find('.cart_price').find('.unit_price').attr('price');
		var total_price = unit_price * quantity;
		var total_price_formatted = format_currency(total_price);
		
		if(quantity>=1){
			$.ajax({
				type:'POST',
				url:'/changeQuantity',
				contentType: 'application/json',
				dataType: "json",
				data:JSON.stringify({sku: sku, quantity: quantity}),
				success: function(data) {
					if (data.result=='success') {
						$('.cart_quantity_input[sku="'+sku+'"]').val(quantity);
						$('.cart_total_price[sku="'+sku+'"]').html(total_price_formatted);
						$('.cart_total_price[sku="'+sku+'"]').attr('price', total_price);
						calculateTotalAmount();
					} else {
						alert('Unable to ' + activity + ' quantity. Try again!')
					}
				}
			});
		}		
	});

	$('.cart_quantity_delete').click(function() {
		var sku = $(this).attr('sku');
		$.ajax({
			type:'POST',
			url:'/deleteCartItem',
			contentType: 'application/json',
			dataType: "json",
			data:JSON.stringify({sku: sku}),
			success: function(data) {
				if (data.result=='success') {
					$('.cart_quantity_delete[sku="'+sku+'"]').parent().parent().remove();
					calculateTotalAmount();
				} else {
					alert('Unable to remove cart item. Try again!')
				}
			}
		});
	});

	function calculateTotalAmount() {
		var cart_sub_total = 0;
		$('.cart_total_price').each(function() {
			cart_sub_total += parseFloat($(this).attr('price'));
		});
		
		var eco_tax = cart_sub_total * 5/100;
		var total_amount = cart_sub_total + eco_tax;

		$('.cart_sub_total').html(format_currency(cart_sub_total));
		$('.eco_tax').html(format_currency(eco_tax));
		$('.total_amount').html(format_currency(total_amount));
	}

	calculateTotalAmount();

</script>