<%- include ('header') %>
	
	<section>
		<div class="container">
			<div class="row">
                    
				<div class="col-sm-12 padding-right">
				
                    <form action="/addToCart" method="POST">

					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
							</div>
						</div>
						<div class="col-sm-8">
							<div class="product-information"><!--/product-information-->
								<h2><%= result[0]['product_name']; %></h2>
								<!-- <p>Web ID: 1089772</p> -->
								<!-- <img src="images/product-details/rating.png" alt="" /> -->
								<span>
									<% if (result[0]['min_price'] == result[0]['max_price']) { %>
                                        <span class="currency-lkr"><%= result[0]['min_price']; %></span>
                                    <% } else { %>
                                        <span class="currency-lkr"><%= result[0]['min_price']; %></span>
                                        <span> - </span>
                                        <span class="currency-lkr"><%= result[0]['max_price']; %></span>
                                    <% } %>
								</span>
                                <div style="padding-bottom: 20px;">
									<label>Quantity:</label>
									<input type="number" name="quantity" min="1" max="100" value="1" style="text-align: center;" required/>
									<button type="submit" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
                                </div>
								<p><b>Stock:</b> <span style="margin:0" id="stock">N/A</span></p>
								<p><b>Weight:</b> <span style="margin:0" id="weight">N/A</span></p>
                                <p><b>Brand:</b> <span style="margin:0" id="brand"><%= result[0]['product_brand']; %></span></p>

                                <br/>
                                
                                <div class="product_variants" style="margin-left: -15px;">
                                    
                                </div>
							</div><!--/product-information-->
						</div>
                    </div><!--/product-details-->
                    
                    </form>
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
								<!-- <li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li> -->
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
                                <p><%= result[0]['product_description'] %></p>
                            </div>
						
							<div class="tab-pane fade" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<p><b>Write Your Review</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
										<textarea name="" ></textarea>
										<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
				</div>
			</div>
		</div>
	</section>
	
<%- include ('footer') %>

<script>

    var product_id = "<%= result[0]['product_id']; %>";
    
    $.ajax({
        type:'POST',
        url:'/loadProductVariants',
        data:'product_id=' + product_id,
        success: function(data) {
            var product_variants = '';
            if (data!={}) {
                var result = data.result;
                if (result.length > 0) {

                    for (var i = 0; i < result.length; i++) {
                        var attribute_names = result[i]['attribute_names'].split(',');
                        var attribute_values = result[i]['attribute_values'].split(',');
                        product_variants +=
                            `<div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src='images/cart/one.png' alt="" />
                                            <p></p>`;

                                            for (var j = 0; j<attribute_names.length; j++) {
                                                product_variants +=
                                                `<p>` + attribute_names[j] + `: <span  style="margin:0">` + attribute_values[j] + `</p>`;
                                                
                                            }
                                            product_variants +=
                                            `<input type="radio" value="` + result[i]['sku'] + `" name="product_variant" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>`;                        
                    }

                }
            }

            $('.product_variants').html(product_variants);

        }
    });


    $('input:radio[name="product_variant"]').change(function(){
        if (this.checked) {
            var sku = $(this).attr('sku');
            alert(sku);
        }
    });

</script>